div.container-fluid {
  padding: 30px;
  height: 100vh
}
.hero {
  background: #293134;
  color: #FFF;
  float: left;
  width: 100%;
}
.hero h2 {
  padding: 0px 20px;
}
.canvas {
  height: 490px;
  background: rgba(202, 195, 191, 1);
  background: -moz-linear-gradient(-45deg, rgba(202, 195, 191, 1) 0%, rgba(206, 204, 199, 1) 33%, rgba(215, 213, 206, 1) 67%, rgba(236, 227, 221, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(202, 195, 191, 1)), color-stop(33%, rgba(206, 204, 199, 1)), color-stop(67%, rgba(215, 213, 206, 1)), color-stop(100%, rgba(236, 227, 221, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(202, 195, 191, 1) 0%, rgba(206, 204, 199, 1) 33%, rgba(215, 213, 206, 1) 67%, rgba(236, 227, 221, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(202, 195, 191, 1) 0%, rgba(206, 204, 199, 1) 33%, rgba(215, 213, 206, 1) 67%, rgba(236, 227, 221, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(202, 195, 191, 1) 0%, rgba(206, 204, 199, 1) 33%, rgba(215, 213, 206, 1) 67%, rgba(236, 227, 221, 1) 100%);
  background: linear-gradient(135deg, rgba(202, 195, 191, 1) 0%, rgba(206, 204, 199, 1) 33%, rgba(215, 213, 206, 1) 67%, rgba(236, 227, 221, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cac3bf', endColorstr='#ece3dd', GradientType=1);
}
.marker {
  cursor: pointer;
}
.fixed_path{
  cursor: pointer;
}
.data {
  height: 490px;
  overflow-y: scroll;
  background: #f9f9f9;
  margin-bottom: 30px;
}
.bg-dark {
  background: #293134;
}
.bg-blue {
  background: #00b5ec;
}
.bg-green {
  background: #00CD6F;
}
.bg-gr-orange {
  background: rgba(254, 114, 78, 1);
  background: -moz-linear-gradient(left, rgba(254, 114, 78, 1) 0%, rgba(255, 111, 77, 1) 20%, rgba(255, 108, 80, 1) 40%, rgba(254, 91, 84, 1) 60%, rgba(255, 82, 88, 1) 80%, rgba(255, 77, 89, 1) 99%, rgba(255, 77, 89, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254, 114, 78, 1)), color-stop(20%, rgba(255, 111, 77, 1)), color-stop(40%, rgba(255, 108, 80, 1)), color-stop(60%, rgba(254, 91, 84, 1)), color-stop(80%, rgba(255, 82, 88, 1)), color-stop(99%, rgba(255, 77, 89, 1)), color-stop(100%, rgba(255, 77, 89, 1)));
  background: -webkit-linear-gradient(left, rgba(254, 114, 78, 1) 0%, rgba(255, 111, 77, 1) 20%, rgba(255, 108, 80, 1) 40%, rgba(254, 91, 84, 1) 60%, rgba(255, 82, 88, 1) 80%, rgba(255, 77, 89, 1) 99%, rgba(255, 77, 89, 1) 100%);
  background: -o-linear-gradient(left, rgba(254, 114, 78, 1) 0%, rgba(255, 111, 77, 1) 20%, rgba(255, 108, 80, 1) 40%, rgba(254, 91, 84, 1) 60%, rgba(255, 82, 88, 1) 80%, rgba(255, 77, 89, 1) 99%, rgba(255, 77, 89, 1) 100%);
  background: -ms-linear-gradient(left, rgba(254, 114, 78, 1) 0%, rgba(255, 111, 77, 1) 20%, rgba(255, 108, 80, 1) 40%, rgba(254, 91, 84, 1) 60%, rgba(255, 82, 88, 1) 80%, rgba(255, 77, 89, 1) 99%, rgba(255, 77, 89, 1) 100%);
  background: linear-gradient(to right, rgba(254, 114, 78, 1) 0%, rgba(255, 111, 77, 1) 20%, rgba(255, 108, 80, 1) 40%, rgba(254, 91, 84, 1) 60%, rgba(255, 82, 88, 1) 80%, rgba(255, 77, 89, 1) 99%, rgba(255, 77, 89, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fe724e', endColorstr='#ff4d59', GradientType=1);
}
.text-blue {
  color: #00b5ec;
}
.text-green {
  color: #00CD6F;
}
.text-yellow {
  color: #FFDF32;
}
